@model MovieProject.Models.FilmItemCommentsViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "All comments for " + Model.FilmItem.Name + " (" + Model.ReleaseYear + ")";
}   

<a href="" onClick="history.go(-1); return false;">Cancel</a> 

@if (User.Identity.IsAuthenticated)
{   
    <div class="row">Add Review</div>
    <div class="row">
        <form class="form-horizontal" asp-action="AddReview" asp-controller="Review" method="post">
            <div class="form-group">
                <input type="hidden" name="FilmItemId" value="@Model.FilmItem.Id"/>
                <label class="col-md-2 control-label">Review</label>
                <div class="col-md-8">
                    <span class="text-danger"></span>
                    <textarea name="Comment" class="form-control"></textarea>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Add Review</button>
            </div>
        </form>
    </div>
}

@if (Model.Comments.Count > 0)
{
    <div class="row">
        @foreach (var review in Model.Comments)
        {
            var user = @UserManager.FindByIdAsync(review.ApplicationUserId);
            <div>Review by <a asp-action="Details" asp-controller="User" asp-route-slug="@user.Result.Slug">@user.Result.UserName</a></div> 
            <div>@review.CreatedAt.ToString("d MMMM yyyy HH:mm")</div>
            <div>@review.Comment</div>
        }
    </div>
}