@model MovieProject.Models.FilmItem
@using MovieProject.Infrastructure;

@{
    ViewData["Title"] = @Model.Name + " - Credits";
}

<div class="row">
    <img src="/images/filmitem/@(Model.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@Model.Name" width="100%">
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Person</th>
                <th scope="col">Character</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fic in Model.FilmItemCredits)
            {
                <tr>
                    <td>
                        <text>@fic.Person.FirstName @fic.Person.Surname</text>
                    </td>
                    <td>
                        <text>@fic.Character</text>
                    </td>
                    <td>
                        <form asp-action="Credits" asp-route-id="@fic.Id" method="post">
                            <a asp-action="EditCredit" class="btn btn-sm btn-warning" asp-route-id="@fic.Id">
                                Edit
                            </a>
                            <button type="submit" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a asp-action="AddCredit" class="btn btn-primary">Add Person</a>
        <a asp-action="Details" class="btn btn-secondary">Cancel</a>
    </div>
</div>