@model MovieProject.Models.Series
@{
    ViewData["Title"] = @Model.Name + " (" + ViewBag.Year + ")";
}

@foreach (var season in @Model.Seasons.OrderBy(s => s.Season_SeasonNumber))
{
    <div>
        <a asp-action="Details" asp-controller="Season" asp-route-seasonnumber="@season.Season_SeasonNumber">
            <img src="/images/filmitem/poster/@(season.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@season.Name" width="200px" height="300px"/>
        </a>
    </div>
}

<text>------------People------------</text>
@foreach (var item in ViewBag.People)
{
    <div>@item.FirstName @item.Surname</div>
    <div>@item.CharacterName</div><br />
}

<div>
    @Model.Seasons.Count @(@Model.Seasons.Count > 1 || Model.Seasons.Count == 0 ? "Seasons" : "Season" )
</div>

<div class="text-center">
    <a asp-controller="Season" asp-action="Create" class="btn btn-primary">Add Season</a>
</div>

<div class="row">
    <img src="/images/filmitem/@(Model.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@Model.Name" width="100%">
</div>

<div>
    <img src="/images/filmitem/poster/@(Model.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@Model.Name">
</div>