@model MovieProject.Models.Series
@{
    ViewData["Title"] = @Model.Name + " (" + ViewBag.Year + ")";
    var genres = @Model.FilmItemGenres.Select(g => g.Genre.Name).OrderBy(g => g).ToArray();
}

<div class="row">
    <img src="/images/filmitem/@(Model.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@Model.Name" width="100%">
</div>

<div>
    <ul>
        <li>
            <label>Average</label>
            @if (@Model.VoteAverage != null)
            {
                @Model.VoteAverage
            } else
            {
                <text>No votes</text>
            }
        </li>
        <li>
            <label>Votes</label>
            @if (@Model.VoteCount != null)
            {
                @Model.VoteCount
            } else
            {
                <text>No votes</text>
            }
        </li>
        <li>
            <label>Rate</label>
            @if (@Model.ReleaseDate < DateTime.Today)
            {
                <text>You can rate now</text>
            } else
            {
                <text>You can rate when the series is out</text>
            }
        </li>
        <li>
            <label>Premiered</label>
            @ViewBag.Year
        </li>
        <li>
            <label>Runtime</label>
            @ViewBag.TotalRuntime
        </li>
        <li>
            <label>Genres</label>
            @String.Join(", ", genres)
            <a asp-action="Genre">Edit</a>
        </li>
        <li>
            <label>Status</label>
            @Model.Status
        </li>
    </ul>
</div>

@foreach (var season in @Model.Seasons.OrderBy(s => s.Season_SeasonNumber))
{
    <div>
        <a asp-action="Details" asp-controller="Season" asp-route-seasonnumber="@season.Season_SeasonNumber">
            <img src="/images/filmitem/poster/@(season.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@season.Name" width="200px" height="300px"/>
        </a>
    </div>
}

<div class="row">
    <h2>Actors</h2>
    <a asp-action="Credits">Edit</a>
    @foreach (var item in @Model.FilmItemCredits)
    {
        <a asp-action="Details" asp-controller="Person" asp-route-slug="@item.Person.Slug">
            <img src="/images/person/poster/@(item.Person.Id).jpg" onerror="this.src='/images/person/poster/template.jpg';this.onerror='';" alt="@item.Person.FirstName @item.Person.Surname" height="127px" width="84px" />
        </a>
        <div>@item.Person.FirstName @item.Person.Surname</div>
        <div>@item.Character</div><br />
    }
</div>

<div>
    @Model.Seasons.Count @(@Model.Seasons.Count > 1 || Model.Seasons.Count == 0 ? "Seasons" : "Season" )
</div>

<div class="text-center">
    <a asp-controller="Season" asp-action="Create" class="btn btn-primary">Add Season</a>
</div>

<div>
    <img src="/images/filmitem/poster/@(Model.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@Model.Name">
</div>