@model MovieProject.Models.SeriesDetailsViewModel
@{
    ViewData["Title"] = @Model.Series.Name + " (" + Model.ReleaseYear + ")";
}
<h2 class="text-center">Edit @ViewData["Title"]</h2>

<form class="form-horizontal" asp-action="Edit" enctype="multipart/form-data" method="post">
    <input type="hidden" name="Id" value="@Model.Series.Id" />
    <div class="form-group">
        <label class="col-md-2 control-label" asp-for="@Model.Series.Name"></label>
        <div class="col-md-8">
            <span asp-validation-for="@Model.Series.Name" class="text-danger"></span>
            <input asp-for="@Model.Series.Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" asp-for="@Model.Series.Description"></label>
        <div class="col-md-8">
            <span asp-validation-for="@Model.Series.Description" class="text-danger"></span>
            <textarea asp-for="@Model.Series.Description" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" asp-for="@Model.Series.FirstAirDate"></label>
        <div class="col-md-8">
            <span asp-validation-for="@Model.Series.FirstAirDate" class="text-danger"></span>
            <input type="date" asp-for="@Model.Series.FirstAirDate" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Upload Poster</label>
        <div class="col-md-8">
            <span class="text-danger"></span>
            <input type="file" id="Poster" name="Poster" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Upload Banner</label>
        <div class="col-md-8">
            <span class="text-danger"></span>
            <input type="file" id="Banner" name="Banner" />
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
