@model MovieProject.Models.DashboardIndexViewModel
@{
    ViewData["Title"] = "Dashboard";
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject( Model.UserViewingByDate.Select( x => x.Date.ToShortDateString() ).ToList() );  
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject( Model.UserViewingByDate.Select( x => x.TimeWatched ).ToList() );
}

<div class="row">Hello, @Model.User.UserName</div>
<div class="row">Member since @Model.User.CreatedAt.ToString("d MMMM yyyy")</div>

<div>@(Model.EpisodeTimeWatched)</div>
<div>@(Model.EpisodesWatched) episodes</div>
<div>@(Model.SeriesWatched) series</div>
<div>@(Model.MovieTimeWatched)</div>
<div>@(Model.MoviesWatched) movies</div>

<div class="row">
    <div>Recently Watched</div>
    @foreach (var filmItem in Model.RecentlyWatchedFilmItems)
    {
        <div>
            @if (filmItem.FilmItem.Discriminator == "Movie" || filmItem.FilmItem.Discriminator == "Series")
            {
                <a asp-action="Details" asp-controller="@(filmItem.FilmItem.Discriminator)" asp-route-slug="@(filmItem.FilmItem.Slug)">
                    <img src="/images/filmitem/poster/@(filmItem.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@(filmItem.FilmItem.Name)" height="127px" width="84px" />
                    @filmItem.FilmItem.Name
                </a>
            } else if (filmItem.FilmItem.Discriminator == "Episode") {
                var episodeNumber = (filmItem.FilmItem.Episode_EpisodeNumber < 10 ? "0" + filmItem.FilmItem.Episode_EpisodeNumber : "" + filmItem.FilmItem.Episode_EpisodeNumber);
                <a asp-action="Details" asp-controller="@filmItem.FilmItem.Discriminator" asp-route-slug="@filmItem.FilmItem.Slug" asp-route-seasonnumber="@filmItem.FilmItem.Episode_SeasonNumber" asp-route-episodenumber="@filmItem.FilmItem.Episode_EpisodeNumber">
                    <img src="/images/filmitem/poster/@(filmItem.FilmItem.Rel_SeriesId).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@filmItem.FilmItem.Name" height="127px" width="84px" />
                </a>
                <a asp-action="Details" asp-controller="Series" asp-route-slug="@(filmItem.FilmItem.Slug)">@filmItem.FilmItem.Rel_SeriesName</a>
                <a asp-action="Details" asp-controller="@filmItem.FilmItem.Discriminator" asp-route-slug="@filmItem.FilmItem.Slug" asp-route-seasonnumber="@filmItem.FilmItem.Episode_SeasonNumber" asp-route-episodenumber="@filmItem.FilmItem.Episode_EpisodeNumber">@(filmItem.FilmItem.Episode_SeasonNumber + "x" + @episodeNumber + " " + @filmItem.FilmItem.Name)</a>
            } else if (filmItem.FilmItem.Discriminator == "Season") {
                <a asp-action="Details" asp-controller="@filmItem.FilmItem.Discriminator" asp-route-slug="@filmItem.FilmItem.Slug" asp-route-seasonnumber="@filmItem.FilmItem.Season_SeasonNumber">
                    <img src="/images/filmitem/poster/@(filmItem.FilmItem.Rel_SeriesId).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@filmItem.FilmItem.Name" height="127px" width="84px" />
                </a>
                <a asp-action="Details" asp-controller="Series" asp-route-slug="@(filmItem.FilmItem.Slug)">@filmItem.FilmItem.Rel_SeriesName</a>
                <a asp-action="Details" asp-controller="@filmItem.FilmItem.Discriminator" asp-route-slug="@filmItem.FilmItem.Slug" asp-route-seasonnumber="@filmItem.FilmItem.Season_SeasonNumber">@filmItem.FilmItem.Name</a>
            }
        </div>
    }
</div>

<div class="row">
    Rating Distribution:
    <div class="chart-container">  
        <canvas id="chart" style="width:400px; height:200px"></canvas>  
    </div>  
</div>

@section Scripts {
    <script type="text/javascript">  
        $(function () {  
             
            var chartName = "chart";  
            var ctx = document.getElementById(chartName).getContext('2d');  
            var data = {  
                labels: @Html.Raw(XLabels),  
                datasets: [{  
                    label: "Runtime",  
                    backgroundColor: [  
                        'rgba(255, 99, 132, 0.2)',  
                        'rgba(54, 162, 235, 0.2)',  
                        'rgba(255, 206, 86, 0.2)',  
                        'rgba(0, 0, 0, 0.8)',  
                        'rgba(153, 102, 255, 0.2)',  
                        'rgba(255, 159, 64, 0.2)',  
                        'rgba(0, 0, 0, 0.6)',  
                        'rgba(0, 255, 0)',  
                        'rgba(0, 0, 255)',  
                        'rgba(192, 192, 192)',  
                    ],  
                    borderColor: [  
                        'rgba(0, 0, 0, 0.6)',
                        'rgba(0, 0, 0, 0.6)',
                        'rgba(0, 0, 0, 0.6)',
                        'rgba(0, 0, 0, 0.6)',
                        'rgba(0, 0, 0, 0.6)',
                        'rgba(0, 0, 0, 0.6)',
                        'rgba(0, 0, 0, 1)',
                    ],  
                    borderWidth: 1,  
                    data: @Html.Raw(YValues)  
                }]  
            };  

            var options = {  
                maintainAspectRatio: false,  
                scales: {  
                    yAxes: [{  
                        ticks: {  
                            min: 0,  
                            beginAtZero: true  
                        },  
                        gridLines: {  
                            display: false,  
                            color: "rgba(255,99,164,0.2)"  
                        }  
                    }],  
                    xAxes: [{  
                        ticks: {  
                            min: 0,  
                            beginAtZero: true  
                        },  
                        gridLines: {  
                            display: false  
                        }  
                    }]  
                }  
            };  

            var myChart = new Chart(ctx, {  
                options: options,  
                data: data,  
                type:'bar'  
            });  
        });  
    </script>  
}