@model MovieProject.Data.ApplicationUser
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">Hello, @Model.UserName</div>
<div class="row">Member since @Model.CreatedAt.ToString("d MMMM yyyy")</div>

<div>@(ViewBag.EpisodeTimeWatched)</div>
<div>@(ViewBag.EpisodesWatched) episodes</div>
<div>@(ViewBag.SeriesWatched) series</div>
<div>@(ViewBag.MoviesTimeWatched)</div>
<div>@(ViewBag.MoviesWatched) movies</div>