@model MovieProject.Models.Person

@{
    ViewData["Title"] = Model.FirstName + " " + Model.Surname + " - Credits";
}
<h2>@ViewData["Title"]</h2>

@if (Model.FilmItemCredits.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Film Item</th>
                <th scope="col">Role</th>
                <th scope="col">Character</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FilmItemCredits)
            {
                <tr>
                    <td>
                        <a asp-controller="@item.FilmItem.Discriminator" asp-action="Details" asp-route-slug="@item.FilmItem.Slug">
                            <img src="/images/filmitem/poster/@(item.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@item.FilmItem.Name"/>
                        </a>
                    </td>
                    <td>@item.PartType</td>
                    <td>@item.Character</td>
                    <td>
                        <form asp-action="DeleteCredit" asp-route-id="@item.Id" method="post">
                            <a asp-action="EditCredit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                Edit
                            </a>
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="text-center">
    <a asp-controller="Person" asp-action="AddCredit" class="btn btn-primary">Add Credit</a>
    <a asp-action="Details" class="btn btn-secondary">Cancel</a>
</div>

