@model MovieProject.Models.Person
@{
    ViewData["Title"] = @Model.FirstName + " " + @Model.Surname; 
}

<div class="row">
    <img src="/images/filmitem/@(ViewBag.FilmItemId).jpg" onerror="this.src='/images/person/template.jpg';this.onerror='';" alt="@Model.FirstName @Model.Surname" width="100%">
</div>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <a asp-action="Edit" class="btn btn-sm btn-warning">
        Edit Person
    </a>
    <button type="submit" class="btn btn-danger btn-sm">
        Delete
    </button>
</form>

<ul>
    @if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Cast).ToList().Count > 0) { <li><a href="#actor">Actor</a></li> }
    @if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Director).ToList().Count > 0) { <li><a href="#director">Director</a></li> }
    @if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Producer).ToList().Count > 0) { <li><a href="#producer">Producer</a></li> }
    @if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Writer).ToList().Count > 0) { <li><a href="#writer">Writer</a></li> }
    @if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Editor).ToList().Count > 0) { <li><a href="#editor">Editor</a></li> }
    @if (Model.FilmItemCredits.Where(s => s.PartType == PartType.CostumeDesigner).ToList().Count > 0) { <li><a href="#designer">Costume Designer</a></li> }
    @if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Composer).ToList().Count > 0) { <li><a href="#composer">Composer</a></li> }
</ul>

<div class="row">
    Actor: @Model.FirstName @Model.Surname
</div>

<div class="row">
    <label>Age</label> @ViewBag.Age
</div>

<div class="row">
    <label>Born</label>
    <text>@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("d MMMM yyyy") : "")</text>
    @if (Model.BirthPlace != null)
    {
        <text>in</text>
        <text>@Model.BirthPlace</text>
    }
</div>

<div class="row">
@if (Model.DeathDate != null)
{
    <label>Death</label>
    <text>@Model.DeathDate.HasValue ? Model.DeathDate.Value.ToString("d MMMM yyyy")</text>
} 
</div>

<div class="row">
    @Model.Biography
</div>

<a asp-action="Credits" asp-controller="Person">Edit</a>

@if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Cast).ToList().Count > 0)
{
    <div id="actor">Actor</div>
    @foreach (var item in Model.FilmItemCredits.Where(p => p.PartType == PartType.Cast).OrderByDescending(f => f.FilmItem.ReleaseDate))
    {
        <a asp-action="Details" asp-controller="@item.FilmItem.Discriminator" asp-route-slug="@item.FilmItem.Slug">
            <img src="/images/filmitem/poster/@(item.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@item.FilmItem.Name" width="200px" height="300px"/>
        </a>
        <div>@item.FilmItem.Name</div>
        <div>@(item.FilmItem.ReleaseDate.HasValue ? @item.FilmItem.ReleaseDate.Value.ToString("yyyy") : "")</div>
        <div>@item.Character</div>
        <hr>
    }
}

@if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Director).ToList().Count > 0)
{
    <div id="director">Directing</div>
    @foreach (var item in Model.FilmItemCredits.Where(p => p.PartType == PartType.Director).OrderByDescending(f => f.FilmItem.ReleaseDate))
    {
        <a asp-action="Details" asp-controller="@item.FilmItem.Discriminator" asp-route-slug="@item.FilmItem.Slug">
            <img src="/images/filmitem/poster/@(item.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@item.FilmItem.Name" width="200px" height="300px"/>
        </a>
        <div>@item.FilmItem.Name</div>
        <div>@(item.FilmItem.ReleaseDate.HasValue ? @item.FilmItem.ReleaseDate.Value.ToString("yyyy") : "")</div>
        <hr>
    }
}

@if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Producer).ToList().Count > 0)
{
    <div id="producer">Producer</div>
    @foreach (var item in Model.FilmItemCredits.Where(p => p.PartType == PartType.Producer).OrderByDescending(f => f.FilmItem.ReleaseDate))
    {
        <a asp-action="Details" asp-controller="@item.FilmItem.Discriminator" asp-route-slug="@item.FilmItem.Slug">
            <img src="/images/filmitem/poster/@(item.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@item.FilmItem.Name" width="200px" height="300px"/>
        </a>
        <div>@item.FilmItem.Name</div>
        <div>@(item.FilmItem.ReleaseDate.HasValue ? @item.FilmItem.ReleaseDate.Value.ToString("yyyy") : "")</div>
        <hr>
    }
}

@if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Composer).ToList().Count > 0)
{
    <div id="Composer">Composer</div>
    @foreach (var item in Model.FilmItemCredits.Where(p => p.PartType == PartType.Composer).OrderByDescending(f => f.FilmItem.ReleaseDate))
    {
        <a asp-action="Details" asp-controller="@item.FilmItem.Discriminator" asp-route-slug="@item.FilmItem.Slug">
            <img src="/images/filmitem/poster/@(item.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@item.FilmItem.Name" width="200px" height="300px"/>
        </a>
        <div>@item.FilmItem.Name</div>
        <div>@(item.FilmItem.ReleaseDate.HasValue ? @item.FilmItem.ReleaseDate.Value.ToString("yyyy") : "")</div>
        <hr>
    }
}

@if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Writer).ToList().Count > 0)
{
    <div id="writer">Writer</div>
    @foreach (var item in Model.FilmItemCredits.Where(p => p.PartType == PartType.Writer).OrderByDescending(f => f.FilmItem.ReleaseDate))
    {
        <a asp-action="Details" asp-controller="@item.FilmItem.Discriminator" asp-route-slug="@item.FilmItem.Slug">
            <img src="/images/filmitem/poster/@(item.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@item.FilmItem.Name" width="200px" height="300px"/>
        </a>
        <div>@item.FilmItem.Name</div>
        <div>@(item.FilmItem.ReleaseDate.HasValue ? @item.FilmItem.ReleaseDate.Value.ToString("yyyy") : "")</div>
        <hr>
    }
}

@if (Model.FilmItemCredits.Where(s => s.PartType == PartType.Editor).ToList().Count > 0)
{
    <div id="editor">Editor</div>
    @foreach (var item in Model.FilmItemCredits.Where(p => p.PartType == PartType.Editor).OrderByDescending(f => f.FilmItem.ReleaseDate))
    {
        <a asp-action="Details" asp-controller="@item.FilmItem.Discriminator" asp-route-slug="@item.FilmItem.Slug">
            <img src="/images/filmitem/poster/@(item.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@item.FilmItem.Name" width="200px" height="300px"/>
        </a>
        <div>@item.FilmItem.Name</div>
        <div>@(item.FilmItem.ReleaseDate.HasValue ? @item.FilmItem.ReleaseDate.Value.ToString("yyyy") : "")</div>
        <hr>
    }
}

<div class="row">
    <img src="/images/person/poster/@(Model.Id).jpg" onerror="this.src='/images/person/poster/template.jpg';this.onerror='';" alt="@Model.FirstName @Model.Surname" width="200px" height="300px">
</div>