@model MovieProject.Models.Person
@{
    ViewData["Title"] = @Model.FirstName + " " + @Model.Surname; 
    var partTypes = Enum.GetValues(typeof(PartType));
}

<div class="row">
    <img src="/images/filmitem/@(ViewBag.FilmItemId).jpg" onerror="this.src='/images/person/template.jpg';this.onerror='';" alt="@Model.FirstName @Model.Surname" width="100%">
</div>

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <a asp-action="Edit" class="btn btn-sm btn-warning">
            Edit Person
        </a>
        @if (User.IsInRole("Admins"))
        {
            <button type="submit" class="btn btn-danger btn-sm">
                Delete
            </button>
        }
    </form>
}

<ul>
    @foreach (var partType in partTypes)
    {
        @if (Model.FilmItemCredits.Where(s => s.PartType == (PartType) partType).ToList().Count > 0) { <li><a href="#@partType">@partType</a></li> }
    }
</ul>

<div class="row">
    Actor: @Model.FirstName @Model.Surname
</div>

<div class="row">
    <label>Age</label> @ViewBag.Age
</div>

<div class="row">
    <label>Born</label>
    <text>@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("d MMMM yyyy") : "")</text>
    @if (Model.BirthPlace != null)
    {
        <text>in</text>
        <text>@Model.BirthPlace</text>
    }
</div>

<div class="row">
@if (Model.DeathDate != null)
{
    <label>Death</label>
    <text>@Model.DeathDate.HasValue ? Model.DeathDate.Value.ToString("d MMMM yyyy")</text>
} 
</div>

<div class="row">
    @Model.Biography
</div>

@if (User.Identity.IsAuthenticated) 
{ 
    <a asp-action="Credits" asp-controller="Person">Edit</a>
}

@await Html.PartialAsync("_MediaPartial", Model.Media)

@foreach (var partType in partTypes)
{
    @if (Model.FilmItemCredits.Where(s => s.PartType == (PartType) partType).ToList().Count > 0)
    {
        <div id="@partType">@partType</div>
        @foreach (var item in Model.FilmItemCredits.Where(p => p.PartType == (PartType) partType).OrderByDescending(f => f.FilmItem.ReleaseDate))
        {
            <a asp-action="Details" asp-controller="@item.FilmItem.Discriminator" asp-route-slug="@item.FilmItem.Slug">
                <img src="/images/filmitem/poster/@(item.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@item.FilmItem.Name" width="200px" height="300px"/>
            </a>
            <div>@item.FilmItem.Name</div>
            <div>@(item.FilmItem.ReleaseDate.HasValue ? @item.FilmItem.ReleaseDate.Value.ToString("yyyy") : "")</div>
            <div>@item.Character</div>
            <hr>
        }
    }
}

<div class="row">
    <img src="/images/person/poster/@(Model.Id).jpg" onerror="this.src='/images/person/poster/template.jpg';this.onerror='';" alt="@Model.FirstName @Model.Surname" width="200px" height="300px">
</div>