@model MovieProject.Models.UserCommentsViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = @Model.User.UserName + "'s comments"; 
}

@if (Model.Comments.Count > 0)
{
    @foreach (var comment in Model.Comments)
    {
        if (comment.FilmItem.Discriminator == "Episode")    
        {
            <a asp-action="Details" asp-controller="@(comment.FilmItem.Discriminator)" asp-route-slug="@(comment.FilmItem.Slug)">
                <img src="/images/filmitem/@(comment.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@(comment.FilmItem.Name)" height="78px" width="138px" />
            </a>
            <div>@(comment.FilmItem.Episode_SeasonNumber + "x" + comment.FilmItem.Episode_EpisodeNumber + " " + comment.FilmItem.Name)</div>
            <div>@(comment.FilmItem.Rel_SeriesName)</div>
        } else if (comment.FilmItem.Discriminator == "Season")
        {
            <a asp-action="Details" asp-controller="@(comment.FilmItem.Discriminator)" asp-route-slug="@(comment.FilmItem.Slug)">
                <img src="/images/filmitem/poster/@(comment.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@(comment.FilmItem.Name)" height="209px" width="138px" />
            </a>
            <div>@(comment.FilmItem.Name)</div>
            <div>@(comment.FilmItem.Rel_SeriesName)</div>
        } else if (comment.FilmItem.Discriminator == "Movie" || comment.FilmItem.Discriminator == "Series")
        {
            <a asp-action="Details" asp-controller="@(comment.FilmItem.Discriminator)" asp-route-slug="@(comment.FilmItem.Slug)">
                <img src="/images/filmitem/poster/@(comment.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@(comment.FilmItem.Name)" height="209px" width="138px" />
                <div>@(comment.FilmItem.Name)</div>
            </a>
        }

        var user = @UserManager.FindByIdAsync(comment.ApplicationUserId);
        if (comment.ShoutId != null) 
        {
            <div>Reply by 
                <a asp-action="Details" asp-controller="User" asp-route-slug="@user.Result.Slug">@(Model.User.UserName)</a>
            </div>
            <a asp-action="Details" asp-controller="Review" asp-route-id="@comment.ShoutId">
                <div>@comment.CreatedAt.ToString("d MMMM yyyy HH:mm")</div>
            </a>
        } 
        
        if (comment.ShoutId == null) 
        {
            <div>Review by 
                <a asp-action="Details" asp-controller="User" asp-route-slug="@user.Result.Slug">@(Model.User.UserName)</a>
            </div>
            <a asp-action="Details" asp-controller="Review" asp-route-id="@comment.Id">
                <div>@comment.CreatedAt.ToString("d MMMM yyyy HH:mm")</div>
            </a>
        }
        
        <div>@(comment.Comment)</div>
        <br>
    }
} else
{
    <div>@Model.User.UserName has no comments</div>
}