@model MovieProject.Data.ApplicationUser
@{
    ViewData["Title"] = @Model.UserName + "'s profile"; 
}

<div class="row">
    <ul>
        <li><a asp-action="Details" asp-route-slug="@Model.Slug">Profile</a></li>
        <li><a asp-action="History" asp-route-slug="@Model.Slug">History</a></li>
        <li><a asp-action="Ratings" asp-route-slug="@Model.Slug">Ratings</a></li>
        <li><a asp-action="Index" asp-controller="Lists" asp-route-slug="@Model.Slug">Lists</a></li>
        <li><a asp-action="Comments" asp-route-slug="@Model.Slug">Comments</a></li>
    </ul>
</div>
