@model MovieProject.Models.UserHistoryViewModel
@{
    ViewData["Title"] = @Model.User.UserName + "'s ratings"; 
}

@if (Model.UserWatchedFilmItems.Count > 0)
{
    @foreach (var watch in Model.UserWatchedFilmItems)
    {
        if (watch.FilmItem.Discriminator == "Movie" || watch.FilmItem.Discriminator == "Series")
        {
            <a asp-action="Details" asp-controller="@(watch.FilmItem.Discriminator)" asp-route-slug="@(watch.FilmItem.Slug)">
                <img src="/images/filmitem/poster/@(watch.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@(watch.FilmItem.Name)" height="127px" width="84px" />
            </a>
            <div>@(watch.FilmItem.Name)</div>
        } else if (watch.FilmItem.Discriminator == "Season")
        {
            <a asp-action="Details" asp-controller="@watch.FilmItem.Discriminator" asp-route-slug="@watch.FilmItem.Slug" asp-route-seasonnumber="@watch.FilmItem.Season_SeasonNumber">
                <img src="/images/filmitem/poster/@(watch.FilmItem.Rel_SeriesId).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@watch.FilmItem.Name" height="127px" width="84px" />
            </a>
            <div>@(watch.FilmItem.Name)</div>
        } else if (watch.FilmItem.Discriminator == "Episode")
        {
            var episodeNumber = (watch.FilmItem.Episode_EpisodeNumber < 10 ? "0" + watch.FilmItem.Episode_EpisodeNumber : "" + watch.FilmItem.Episode_EpisodeNumber);
            <a asp-action="Details" asp-controller="@watch.FilmItem.Discriminator" asp-route-slug="@watch.FilmItem.Slug" asp-route-seasonnumber="@watch.FilmItem.Episode_SeasonNumber" asp-route-episodenumber="@watch.FilmItem.Episode_EpisodeNumber">
                <img src="/images/filmitem/poster/@(watch.FilmItem.Rel_SeriesId).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@watch.FilmItem.Name" height="127px" width="84px" />
            </a>
            <div>@(watch.FilmItem.Episode_SeasonNumber + "x" + @episodeNumber + " " + @watch.FilmItem.Name)</div>
        }
        <div>@(watch.WatchedOn.ToString("d MMMM yyyy"))</div>
    }
} else
{
    <div>@Model.User.UserName needs to watch more movies and series</div>
}