@model MovieProject.Models.UserHistoryViewModel
@{
    ViewData["Title"] = @Model.User.UserName + "'s ratings"; 
}

@if (Model.UserWatchedFilmItems.Count > 0)
{
    @foreach (var watchedByDate in Model.UserWatchedFilmItems)
    {
        <div>
            @watchedByDate.Date.ToString("dddd d MMMM yyyy")
            Runtime: @watchedByDate.Runtime
        </div>
        @foreach (var filmItem in watchedByDate.FilmItems)
        {
            if (filmItem.FilmItem.Discriminator == "Movie")
            {
                <a asp-action="Details" asp-controller="@(filmItem.FilmItem.Discriminator)" asp-route-slug="@(filmItem.FilmItem.Slug)">
                    <img src="/images/filmitem/poster/@(filmItem.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@(filmItem.FilmItem.Name)" height="127px" width="84px" />
                </a>
                <div>@(filmItem.FilmItem.Name)</div>
            } else if (filmItem.FilmItem.Discriminator == "Episode")
            {
                var episodeNumber = (filmItem.FilmItem.Episode_EpisodeNumber < 10 ? "0" + filmItem.FilmItem.Episode_EpisodeNumber : "" + filmItem.FilmItem.Episode_EpisodeNumber);
                <a asp-action="Details" asp-controller="@filmItem.FilmItem.Discriminator" asp-route-slug="@filmItem.FilmItem.Slug" asp-route-seasonnumber="@filmItem.FilmItem.Episode_SeasonNumber" asp-route-episodenumber="@filmItem.FilmItem.Episode_EpisodeNumber">
                    <img src="/images/filmitem/poster/@(filmItem.FilmItem.Rel_SeriesId).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@filmItem.FilmItem.Name" height="127px" width="84px" />
                </a>
                <div>@(filmItem.FilmItem.Episode_SeasonNumber + "x" + @episodeNumber + " " + @filmItem.FilmItem.Name)</div>
            }
            <div>@filmItem.Date.ToString("d MMMM yyyy HH:mm")</div>
        }
        <br>
    }
} else
{
    <div>@Model.User.UserName needs to watch more movies and series</div>
}