@model List<MovieProject.Models.UserRating>
@{
    ViewData["Title"] = @ViewBag.User + "'s ratings"; 
}

@if (Model.Count > 0)
{
    @foreach (var rating in Model)
    {
        if (rating.FilmItem.Discriminator == "Movie" || rating.FilmItem.Discriminator == "Series")
        {
            <a asp-action="Details" asp-controller="@(rating.FilmItem.Discriminator)" asp-route-slug="@(rating.FilmItem.Slug)">
                <img src="/images/filmitem/poster/@(rating.FilmItem.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@(rating.FilmItem.Name)" height="127px" width="84px" />
            </a>
            <div>@(rating.FilmItem.Name)</div>
        } else if (rating.FilmItem.Discriminator == "Season")
        {
            <a asp-action="Details" asp-controller="@rating.FilmItem.Discriminator" asp-route-slug="@rating.FilmItem.Slug" asp-route-seasonnumber="@rating.FilmItem.Season_SeasonNumber">
                <img src="/images/filmitem/poster/@(rating.FilmItem.Rel_SeriesId).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@rating.FilmItem.Name" height="127px" width="84px" />
            </a>
            <div>@(rating.FilmItem.Name)</div>
        } else if (rating.FilmItem.Discriminator == "Episode")
        {
            var episodeNumber = (rating.FilmItem.Episode_EpisodeNumber < 10 ? "0" + rating.FilmItem.Episode_EpisodeNumber : "" + rating.FilmItem.Episode_EpisodeNumber);
            <a asp-action="Details" asp-controller="@rating.FilmItem.Discriminator" asp-route-slug="@rating.FilmItem.Slug" asp-route-seasonnumber="@rating.FilmItem.Episode_SeasonNumber" asp-route-episodenumber="@rating.FilmItem.Episode_EpisodeNumber">
                <img src="/images/filmitem/poster/@(rating.FilmItem.Rel_SeriesId).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@rating.FilmItem.Name" height="127px" width="84px" />
            </a>
            <div>@(rating.FilmItem.Episode_SeasonNumber + "x" + @episodeNumber + " " + @rating.FilmItem.Name)</div>
        }
        <div>@(rating.CreatedAt.ToString("d MMMM yyyy HH:mm"))</div>
        <div>@(rating.Rating)</div>
    }
} else
{
    <div>@ViewBag.User has no ratings</div>
}