@model MovieProject.Models.Season
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = @ViewBag.Series + " - " + @Model.Name;
    string selected = "color:red;";
}

<div class="row">
    <img src="/images/filmitem/@(Model.SeriesId).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@Model.Name" width="100%" />
</div>

<div class="row">
    <a asp-controller="Series" asp-action="Details">@ViewBag.Series</a>
</div>
<div class="row">
    @Model.Name
</div>

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Delete" method="post">
        <a asp-action="Edit" class="btn btn-sm btn-warning">
            Edit Season
        </a>
        @if (User.IsInRole("Admins"))
        {
            <button type="submit" class="btn btn-danger btn-sm">
                Delete Season
            </button>
        }
    </form>
}

<div>Season</div>
@for (var i = 1; i < @ViewBag.SeasonCount + 1; i++)
{
    <a style="@(i == @Model.Season_SeasonNumber ? @selected : null )" asp-action="Details" asp-controller="Season" asp-route-seasonnumber="@i">@i </a>
}

<div class="row">
    <label>Average</label>
    @if (@Model.VoteAverage != null) { @Model.VoteAverage } else { <text>No votes</text>}
</div>

<div class="row">
    <label>Votes</label>
    @if (@Model.VoteAverage != null) { @Model.VoteCount } else { <text>No votes</text>}
</div>

@if (User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("_FilmItemRatingPartial", Model)
}

<div class="row">
    <label>Aired</label> @ViewBag.FirstEpisode
</div>

<div class="row">
    <label>Total Runtime</label> @ViewBag.TotalRuntime
</div>

<div class="row">
    <label>Language</label> @Model.OriginalLanguage
</div>

<div class="row">
    <label>Genres</label> @String.Join(", ", ViewBag.Genres)
</div>

<div class="row">
    <label>Description</label> @Model.Description
</div>

@foreach (var episode in @Model.Episodes.OrderBy(ob => ob.Episode_EpisodeNumber))
{
    <div class="row">
        <a asp-action="Details" asp-controller="Episode" asp-route-episodenumber="@episode.Episode_EpisodeNumber">
            <img src="/images/filmitem/@(episode.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@episode.Name" height="170px" width="300px" />
        </a>
        <div class="row">
            @if(@episode.Episode_EpisodeNumber < 10)
            { 
                <text>@(episode.Episode_SeasonNumber + "x0" + @episode.Episode_EpisodeNumber)</text>
            } else
            {
                <text>@(episode.Episode_SeasonNumber + "x" + @episode.Episode_EpisodeNumber)</text>
            }
            <text>@episode.Name</text>
        </div>
        <div class="row">
            @if(episode.Episode_EpisodeNumber == 1 && episode.Episode_SeasonNumber == 1) { <text>Series Premiere</text> } else if (episode.Episode_EpisodeNumber == 1) { <text>Season Premiere</text> }    
            <text>@(episode.Runtime + " mins")</text>
            <text>@(episode.ReleaseDate.HasValue ? episode.ReleaseDate.Value.ToString("d MMMM yyyy") : "")</text>
        </div>
        <div class="row">
            <p>@episode.Description</p>
        </div>
    </div>
}

<div>
    @Model.Episodes.Count @(Model.Episodes.Count > 1 || Model.Episodes.Count == 0 ? "Episodes" : "Episode" )
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <a asp-controller="Episode" asp-action="Create" class="btn btn-primary">Add Episode</a>
    </div>
    <div class="text-center">
        <a asp-controller="Season" asp-action="Edit" class="btn btn-warning">Edit Season</a>
    </div>
}

@await Html.PartialAsync("_FilmItemVideoPartial", Model)

@await Html.PartialAsync("_FilmItemCommentPartial", Model)

@await Html.PartialAsync("_MediaPartial", Model.Media)

<div class="row">
    <img src="/images/filmitem/poster/@(Model.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@Model.Name" />
</div>

@section Scripts
{
    <script>
        var select = '';
        for (i=1; i<=10; i++)
        {
            select += '<option val=' + i + '>' + i + '</option>';
        }
        $('#rating').html(select);
    </script>
}