@model MovieProject.Models.SeasonIndexViewModel

@{
    ViewData["Title"] = Model.Series.Name + " - Seasons";
}
<h2>@ViewData["Title"]</h2>

@if (Model.Seasons.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Season</th>
                <th scope="col">Year</th>
                @if (User.Identity.IsAuthenticated == true)
                {
                    <th scope="col"></th>
                    <th scope="col"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (Season s in Model.Seasons)
            {
                <tr>
                    <td>
                        <a asp-controller="Season" asp-action="Details" asp-route-seasonnumber="@s.Season_SeasonNumber">@s.Name</a>
                    </td>
                    <td>@s.ReleaseDate.Value.ToString("yyyy")</td>
                    @if (User.Identity.IsAuthenticated == true)
                    {
                        <td>
                            <form asp-action="Delete" asp-route-id="@s.Id" method="post">
                                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@s.Id">
                                    Edit
                                </a>
                                @if (User.IsInRole("Admins"))
                                {
                                    <input type="hidden" name="Id" value="@s.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                }
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <a asp-controller="Season" asp-action="Create" class="btn btn-primary">Add Season</a>
    </div>
}
