@model MovieProject.Models.Movie
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = @Model.Name + " (" + ViewBag.Year + ")";
}

<div class="row">
    <img src="/images/filmitem/@(Model.Id).jpg" onerror="this.src='/images/filmitem/template.jpg';this.onerror='';" alt="@Model.Name" width="100%">
</div>
<div class="row">
    <div class="col-md-10">
        <ul>
            <li>
                <label>Average</label>
                @if (@Model.VoteAverage != null) { @Model.VoteAverage } else { <text>No votes</text> }
            </li>
            <li>
                <label>Votes</label>
                @if (@Model.VoteCount != null) { @Model.VoteCount } else { <text>No votes</text> }
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <label>Rate</label> 
                    @if (@Model.ReleaseDate < DateTime.Today) 
                    { 
                        <form class="form-horizontal" asp-action="AddRating" asp-controller="Movie" method="post">
                            <div class="form-group">
                                <input type="hidden" name="ApplicationUserId" value="@UserManager.GetUserId(User)" />
                                <input type="hidden" name="FilmItemId" value="@Model.Id" />
                                <div class="col-md-8">
                                    <span class="text-danger"></span>
                                    <select id="rating" name="Rating"></select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Add Rating</button>
                            </div>
                        </form>
                    } else 
                    { 
                        <div>You can rate when the series is out</div> 
                    }
                </li>
            }
        </ul>
    </div>
</div>

<div>
    <ul>
        <li>
            <label>Released</label> @ViewBag.Date
        </li>
        <li>
            <label>Runtime</label> @Model.Runtime
        </li>
        <li>
            <label>Genres</label>
            @String.Join(", ", ViewBag.Genres)
            @if (User.Identity.IsAuthenticated) { <a asp-action="Genre">Edit</a> }
        </li>
        <li>
            <label>Status</label> @Model.Status
        </li>
        @if (Model.FilmItemCredits.Where(p => p.PartType == PartType.Director).ToList().Count > 0)
        {
            <li>
                <label>Director</label>
                @Html.Raw(string.Join(", ", Model.FilmItemCredits.Where(p => p.PartType == PartType.Director).OrderBy(x => x.Person.Surname).Select(s => string.Format("<a href={0}>{1}{2}{3}</a>", "/person/" + s.Person.Slug, s.Person.FirstName, " ", s.Person.Surname))))
            </li>
        }
        @if (Model.FilmItemCredits.Where(p => p.PartType == PartType.Producer).ToList().Count > 0)
        {
            <li>
                <label>Director</label>
                @String.Join(", ", ViewBag.Producers)
            </li>
        }
        @if (Model.FilmItemCredits.Where(p => p.PartType == PartType.Writer).ToList().Count > 0)
        {
            <li>
                <label>Director</label>
                @String.Join(", ", ViewBag.Writers)
            </li>
        }
    </ul>
</div>

<div class="row">
    @if (Model.FilmItemCredits.Where(p => p.PartType == PartType.Cast).ToList().Count > 0)
    {
        <h2>Actors</h2>
        @if (User.Identity.IsAuthenticated) { <a asp-action="Credits">Edit</a> }
        @foreach (var actor in @Model.FilmItemCredits.Where(p => p.PartType == PartType.Cast))
        {
            <a asp-action="Details" asp-controller="Person" asp-route-slug="@actor.Person.Slug">
                <img src="/images/person/poster/@(actor.Person.Id).jpg" onerror="this.src='/images/person/poster/template.jpg';this.onerror='';" alt="@actor.Person.FirstName @actor.Person.Surname" height="127px" width="84px" />
            </a>
            <div>@actor.Person.FirstName @actor.Person.Surname - @actor.Character</div>
        }
    }
</div>

@if (User.Identity.IsAuthenticated)
{   
    <form class="form-horizontal" asp-action="AddReview" asp-controller="Movie" method="post">
        <div class="form-group">
            <input type="hidden" name="ApplicationUserId" value="@UserManager.GetUserId(User)" />
            <input type="hidden" name="FilmItemId" value="@Model.Id" />
            <label class="col-md-2 control-label">Review</label>
            <div class="col-md-8">
                <span class="text-danger"></span>
                <textarea name="Comment" class="form-control"></textarea>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Add Review</button>
        </div>
    </form>
}

<div class="row">
    @foreach (var review in @Model.Reviews.OrderByDescending(x => x.CreatedAt).Take(3))
    {
        var user = @UserManager.FindByIdAsync(review.ApplicationUserId);
        <div>Review by <a asp-action="Details" asp-controller="User" asp-route-slug="@user.Result.Slug">@user.Result.UserName</a></div> 
        <div>@review.CreatedAt.ToString("d MMMM yyyy HH:mm")</div>
        <div>@review.Comment</div>
    }
</div>

<div>
    <img src="/images/filmitem/poster/@(Model.Id).jpg" onerror="this.src='/images/filmitem/poster/template.jpg';this.onerror='';" alt="@Model.Name">
</div>

@section Scripts
{
    <script>
        var select = '';
        for (i=1; i<=10; i++)
        {
            select += '<option val=' + i + '>' + i + '</option>';
        }
        $('#rating').html(select);
    </script>
}