@model List<MovieProject.Models.List>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Lists";
}
<h2>@ViewData["Title"]</h2>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Lists</th>
                <th scope="col">User</th>
                <th scope="col">Description</th>
                <th scope="col">Items</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (List l in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-listname="@l.Slug">@l.Name</a>
                    </td>
                    <td>@if (l.Privacy == true) { <text>Private</text> } <span>by</span> @UserManager.FindByIdAsync(l.ApplicationUserId).Result.UserName</td>
                    <td>@l.Description</td>
                    <td>@l.ItemCount</td>
                    @if (User.Identity.IsAuthenticated && l.ApplicationUserId == UserManager.GetUserId(User))
                    {
                        <td>
                            <form asp-action="Delete" asp-route-id="@l.Id" method="post">
                                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-listname="@l.Slug">
                                    Edit
                                </a>
                                <input type="hidden" name="Id" value="@l.Id" />
                                @if (l.Deletable == true)
                                {
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                }
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@if (User.Identity.IsAuthenticated && (Model.Select(x => x.ApplicationUserId).First() == UserManager.GetUserId(User)))
{
    <div class="text-center">
        <a asp-action="Create" class="btn btn-primary">Add List</a>
    </div>
}

