@model MovieProject.Models.Episode
@{
    ViewData["Title"] = @ViewBag.Series + " " + @Model.Episode_SeasonNumber + "x" + @ViewBag.Episode + " \"" +  @Model.Name + "\"";
    string selected = "color:red;";
}

<text>Episode</text>
<ul>
    @for (var i = 1; i < @ViewBag.EpisodeCount + 1; i++)
    {
        <li>
            <a style="@(i == @Model.Episode_EpisodeNumber ? @selected : null )" asp-action="Details" asp-controller="Episode" asp-route-episodenumber="@i">@i</a>
        </li>
    }
</ul>

<form asp-action="Delete" method="post">
    <a asp-action="Edit" class="btn btn-sm btn-warning">
        Edit Episode
    </a>
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger btn-sm">
        Delete Episode
    </button>
</form>

<div class="row">
    <img src="/images/episode/@(Model.Id).jpg" onerror="this.src='/images/episode/template.jpg';this.onerror='';" alt="@Model.Name" width="100%" />
</div>

<h3>@Model.Name</h3>
