@model List<MovieProject.Models.Episode>

@{
    ViewData["Title"] = ViewBag.Series + " - " + ViewBag.Season + " - Episodes";
}
<h2>@ViewData["Title"]</h2>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Episode</th>
                <th scope="col">Year</th>
                @if (User.Identity.IsAuthenticated == true)
                {
                    <th scope="col"></th>
                    <th scope="col"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (Episode e in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Episode" asp-action="Details" asp-route-episodenumber="@e.Episode_EpisodeNumber">@e.Name</a>
                    </td>
                    <td>@e.ReleaseDate.Value.ToString("d MMMM yyyy")</td>
                    @if (User.Identity.IsAuthenticated == true)
                    {
                        <td>
                            <form asp-action="Delete" asp-route-episodenumber="@e.Id" method="post">
                                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-episodenumber="@e.Episode_EpisodeNumber">
                                    Edit
                                </a>
                                @if (User.IsInRole("Admins"))
                                {
                                    <input type="hidden" name="Id" value="@e.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                }
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <a asp-controller="Episode" asp-action="Create" class="btn btn-primary">Add Episode</a>
    </div>
}

